<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/login">Login</a>
    <a class="btn btn-dark" href="/patients">Patient</a>
    <a class="btn btn-dark" href="/patients/new">Nou Patient</a>
    <a class="btn btn-dark" href="/physios">Physio</a>
    <a class="btn btn-dark" href="/physios/new">Nou Physio</a>
    <a class="btn btn-dark" href="/records">Record</a>
</div>
