{% extends "base.njk" %}

{% block titol %} Physios | Llistat {% endblock %}

{% block contingut %}
    <h1 class="mb-4">Llistat de Physios</h1>

    <div class="form-group">
        <form action="/physios/find" method="get">
            <input type="text" name="specialty"/>
            <button type="submit" class="btn btn-dark">Cercar</button>
        </form>
    </div>



    <table class="table table-striped table-hover">
        {% for physio in physios %}   
            <tr>
                <td>{{ physio.name }}</td>
                <td>{{ physio.surname }}</td>
                <td>{{ physio.birthDate }}</td>
                <td>{{ physio.specialty }}</td>
                <td>{{ physio.licenseNumber }}</td>
                <td>
                    {% if (session and session.rol == "admin") %}
                        <a class="btn btn-primary" href="/physios/{{ physio.id }}/edit">Editar</a>
                    {% endif %}
                </td>
                <td>
                    <a class="btn btn-success" href="/physios/{{ physio.id }}">Fitxa</a>
                </td>
                <td>
                    {% if (session and session.rol == "admin") %}
                        <form style="display:inline" action="/physios/{{ physio.id }}" method="post">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-danger">Esborrar</button>
                        </form>
                    {% endif %}
                </td>
            </tr>

        {% endfor %}
    </table>
{% endblock %}